@charset "utf-8";

img {
	width: 100%;
}

p {
	line-height: 1.5rem;
	text-indent: 3rem;
	margin: 0 0 .75rem 0;
	padding: 0;
	font-size:1.5rem;
	font-family:cursive;
	color:blue;
}

section {
	margin-top: 15vh;
}

header {
	color: antiquewhite;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 84vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-variant: small-caps;
	letter-spacing: .25rem;
	font-style: italic;
	font-family: sans-serif;
	background-image: url("https://picsum.photos/1000");
	background-size: 100%;
	background-attachment: fixed;
	text-shadow: 1px 0 white,
		2px 0 lightgrey,
		3px 1px 1px cyan;
}

@media (min-width: 800px){
	section {
		margin-top: 32vh;
		display: grid;
		grid-template-columns: 50vw 30vw;
		justify-content: center;
		grid-gap: 2vw;
	}

	article {
		background-color: antiquewhite;
		padding: 2vh;
		border-radius: 20px;
		border: 5px solid cyan;
	}

	header {
		bottom: 70vh;
		font-size: 3rem;
	}

	aside {
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
	}

	img {
		width: 9vw;
		height: 9vw;
		margin: 0 1vw 1vw 0;
		border-radius: 10%;
	}
}
