@charset "utf-8";

header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 60vh;
	overflow: hidden;
	background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/49581wide.jpg");
	background-attachment: fixed;
	color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.5rem;
	font-variant: small-caps;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-shadow: 1px 1px, 2px 2px 1px lightgrey, 3px 2px 2px grey;
}

@media (min-width: 800px){
}
