@charset "utf-8";

/*
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Ibarra Real Nova', serif;
*/

p {
	line-height: 1.6;
	font-family: 'Nanum Gothic Coding', monospace;
}

header {
	width:100%;
	text-align:center;
	position:fixed;
	top:0;
	font-size:5vh;
	font-family: 'Ibarra Real Nova', serif;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

header img {
	height:6vh;
	margin:0 3vw 0 3vw;
}

article {
	margin-top:6vh;
	padding: 0 2vw 0 2vw;
}

@media (min-width: 800px){
}
